<div class="container">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-primary" ><a routerLink="/send">Send</a></button>
    <button type="button" class="btn btn-primary">Receive</button>
  </div>
  <h2>EUR<br>1.17</h2>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Enter link..." aria-label="Email">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Receive</button>
  </form>
</div>
