<div class="container">
  <app-navbar></app-navbar>
  <h1>Your Live Signals</h1>
  <div *ngFor="let signal of signals">
    <div class="sign" *ngIf="signal.show == true">
      <img [src]="signal.flagImage">
      <a routerLink="/detail/{{signal.id}}">
      <p>{{signal.sName}}  <span class="green"> {{signal.rate}}</span></p>
      <p class="desc">{{signal.slName}}</p>
      <h2>{{signal.price}}</h2>
      <button class="trade">
        Trade
      </button>
      </a>
    </div>
  </div>
  <a routerLink="/add-signals" class="link">Add Signals</a>
</div>
