<div class="container">
  <img src="https://i.ibb.co/HCVRtj0/image.png" width="80" height="auto">
  <h1>Login</h1>
  <div>
      <form>
          <div>
              <label for="email">Email</label>
              <input type="text"/>
          </div>
          <div>
              <label for="password">Password</label>
              <input type="password"/>
          </div>
          <div>
            <br>
             <a routerLink="/signals">
              <button>
                Sign In
              </button></a>
              <br><br>
              <a routerLink="/forgot" class="link">Forgot Password?</a>
              <br><br>
              New User? <a routerLink="/register" class="link">Sign Up</a>
          </div>
      </form>
  </div>
</div>
