.container {
  width: 56%;
}

.sign {
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: 0.7px solid #5e5e5e;
  border-radius: 5px;
  margin-bottom: 30px;
  text-align: left;
}

p {
  font-size: 14px;
}
  p a {
    color: #424242;
    text-decoration: none;
  }
  .green {
    color: #4fe94f;
  }
  .desc {
    color: #868686;
    margin-top: -15px;
    margin-left: 5px;
  }
h2 a{
  color: #000;
  text-decoration: none;
}
.trade {
  box-shadow: none;
  color: #000;
  font-weight: none;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 420px;
  margin-top: -50px;
}
.button {
  color: white;
  text-align: center;
  font-size: small;
  padding: 10px 15px;
  margin-top: -60px;
  margin-left: 580px;
}
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 8px;
  }
  .topnav input[type=text] {
    border: 1px solid gray;
    border-radius: 15px;
  }
  .topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .hr {
    color:black;
    display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 20px;
  }
