<div class="container">
  <app-navbar></app-navbar>
  <div *ngIf="signal">
    <h2><b>{{signal.sName}}</b></h2>
    <p class="desc">{{signal.slName}}</p>
    <hr>
    <p><b>{{signal.price}}</b> <span class="rate">{{signal.rate}}</span></p>
    <hr>
    <p><span class="cat">Open:</span>{{signal.open}}</p>
    <p><span class="cat">High:</span>{{signal.high}}</p>
    <p><span class="cat">Low:</span>{{signal.low}}</p>
  <div>
  <a routerLink="/send/{{signal.id}}">
    <button>Send/Receive</button>
  </a>
  <br><br>
  <a routerLink="/signals" class="link">Back to Signals</a>
</div>
