<div class="container">
  <img src="https://i.ibb.co/HCVRtj0/image.png" width="80" height="auto">
  <h2>Forgot Password?</h2>
  <div>
      <form>
          <div>
              <label for="email">Enter E-mail:</label>
              <input type="text"/>
          </div>
          <div>
            <br>
             <a routerLink="#">
              <button>
                Send Reset Link
              </button></a>
              <br><br>
             <a routerLink="/" class="link">Back to Login</a>
          </div>
      </form>
  </div>
</div>

